.balance-card {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(126,142,159,.1);
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid #D7DDE4;
        padding: 0 15px;
        .header-title {
            margin: 0;
            color: #4f5f6f;
            font-size: 18px;
            font-weight: 600;
        }
        .icon-edit {
            cursor: pointer;
            font-size: 20px;
            color: #52bcd3;
            &:hover {
                color: #06657a;
                transition: 0.2s;
            }
        }
        .icon-refresh-button {
            font-size: 20px;
            cursor: pointer;
            color: #52bcd3;
            &:hover {
                color: #139bb9;
                transition: 0.2s;
            }
        }
    }
    &-block {
        padding: 15px;
        .balance-container {
            display: flex;
            align-items: center;
            height: 50px;
            margin-bottom: 20px;
            border-bottom: 2px solid #52bcd3;
            padding-left: 15px;
            .balance-icon {
                span {
                    color: #52bcd3;
                    font-size: 24px;
                }
            }
            .balance-value {
                color: #4f5f6f;
                font-size: 20px;
                margin-left: 20px;
            }
        }
        .table {
            color: #4f5f6f;
        }
    }
}