* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #C6CCD3;
}

::-webkit-scrollbar-thumb {
    background-color: #52BCD3;
    border-radius: 5px;
    border: 2px solid #C6CCD3;

}