.settings-card {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
  padding: 0 30px;
  margin-bottom: 50px;
  .form-group {
    margin-bottom: 0;
  }
  .new-email {
    padding: 20px 0;
    border-bottom: 1px solid #d7dde4;
  }
  .new-password {
    padding: 20px 0;
    border-bottom: 1px solid #d7dde4;
    .form-control:nth-child(n + 2) {
      margin-top: 10px;
    }
    .password-length {
      font-size: 14px;
      color: #da000b;
      font-weight: 400;
      font-style: italic;
    }
  }
  .new-name {
    padding: 20px 0;
  }
  .control-label {
    color: #4f5f6f;
    span {
      color: #000;
      font-weight: 600;
      padding-left: 5px;
    }
  }
  .btn.btn-primary {
    font-size: 14px;
    margin-top: 1rem;
  }
  .form-control {
    &::placeholder {
      font-style: italic;
    }
    &:focus {
      border-color: #52bcd3;
      box-shadow: none;
    }
  }
  .email-require {
    font-size: 14px;
    color: #da000b;
    font-weight: 400;
    font-style: italic;
  }
  .wrong-input {
    border: 1px solid #da000b;
  }
  .success-email-change {
    color: #61b85c;
    font-style: italic;
  }
  .password-wrong {
    @extend .email-require;
  }
}

.settings-title-block {
  justify-content: start;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d7dde4;
  height: 50px;
  margin: 20px 0 25px 0;
  padding-bottom: 10px;
  .title {
    color: #4f5f6f;
    margin: 0;
    font-weight: 600;
    font-size: 23px;
  }
  div {
    width: 28px;
    height: 28px;
    text-align: center;
    border: 2px solid #52bcd3;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    color: #52bcd3;
    &:hover {
      border: 2px solid #0f93b1;
      color: #0f93b1;
      transition: 0.3s;
    }
    .icon-arrow-left-solid::before {
      margin-top: 4px;
      display: block;
    }
  }
}
